<html>

<head>
    <title>bank-scraping</title>
</head>

<body>
    <div style="display: flex;justify-content: center">
        <h1>
            <%= message %>
        </h1>
    </div>
</body>

</html>