<!DOCTYPE html>
<html>

<head>
    <title>bank-scraping</title>
    <link href="StyleSheet.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
    <script>
        function checkItau(branch, account, password) {
            console.log('oi')
            $.ajax({
                type: 'POST',
                url: '/itau-pup',
                data: {
                    branch,
                    account,
                    password
                }
            }).done(function (data) {
                //location.reload()
            }).fail(function (jqXHR, textStatus, err) {
                $('#errorBox').show().html('Erro: ' + JSON.parse(jqXHR.responseText).message)
            })
        }
    </script>
    <div class="login-form">
        <h1>Bank Scrapper!</h1>
        <div id="errorBox" class="error-box" style="display: none;"></div>
        <input id="branch" type="text" placeholder="Branch">
        <input id="account" type="text" placeholder="Account">
        <input id="password" type="password" placeholder="Password">
        <button
            onclick="checkItau(document.getElementById('branch').value, document.getElementById('account').value, document.getElementById('password').value)">Check
            Itau</button>
        <form action="/auth/logout" method="POST" style="margin-top: 1rem;">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>

</html>