<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="StyleSheet.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
    <script>
        function login(email, password) {
            $.ajax({
                type: 'POST',
                url: '/auth/login/',
                data: {
                    email,
                    password
                }
            }).done(function (data) {
                location.reload()
            }).fail(function (jqXHR, textStatus, err) {
                $('#errorBox').show().html('Erro: ' + JSON.parse(jqXHR.responseText).message)
            })
        }
    </script>
    <div class="login-form">
        <h1>Login Bank Scrapper</h1>
        <div id="errorBox" class="error-box" style="display: none;"></div>
        <input id="email" type="text" placeholder="Email">
        <input id="password" type="password" placeholder="Password">
        <button
            onclick="login(document.getElementById('email').value, document.getElementById('password').value)">Login</button>
        <form action="/register" method="GET" style="margin-top: 1rem;">
            <button type="submit">Registrar</button>
        </form>
    </div>
</body>

</html>