<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="StyleSheet.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
    <script>
        function register(name, email, password) {
            $.ajax({
                type: 'POST',
                url: '/auth/register/',
                data: {
                    name,
                    email,
                    password
                }
            }).done(function (data) {
                location.assign('/')
            }).fail(function (jqXHR, textStatus, err) {
                $('#errorBox').show().html('Erro: ' + JSON.parse(jqXHR.responseText).message)
            })
        }
    </script>
    <div class="login-form">
        <h1>Registrar</h1>
        <div id="errorBox" class="error-box" style="display: none;"></div>
        <input id="name" type="text" placeholder="Nome">
        <input id="email" type="text" placeholder="Email">
        <input id="password" type="password" placeholder="Password">
        <button onclick="register(document.getElementById('name').value,
                document.getElementById('email').value,
                document.getElementById('password').value)">Registrar</button>
        <form action="/" method="GET" style="margin-top: 1rem;">
            <button type="submit">Voltar</button>
        </form>
    </div>
</body>

</html>